<%= div_for comment do %>
        <p>
                <strong>
                        Posted <%= comment.created_at.to_s %> ago
                </strong>
                <br/>
                <%= comment.body %>
        </p>
<% end %>